<div ng-controller="gameCtrl">
	<h4>Add a game</h4>
	<div id="message"></div>
	<label>Class played:</label>

	<select name="hero_played" ng-model="formGame.hero_played" >
		<option disabled selected value="">--Choose your Hero--</option>
		<option ng-repeat="hero in heroes" value="{{hero.name}}">{{hero.name}}</option>
	</select>
	<br><br>
	<label>Class Opp:</label>

	<select name="hero_opp" ng-model="formGame.hero_opp">
		<option disabled selected value="">--Choose Opponent Hero--</option>
		<option ng-repeat="hero in heroes" value="{{ hero.name }}">{{ hero.name }}</option>
	</select>
	<br><br>
	<label>Deck Used:</label>
	<select name="deck_used" ng-model="formGame.deck_used" >
		<option disabled selected value="">--Choose a Deck--</option>
		<option ng-repeat="deck in decks" value="{{deck.deck_name}}"> {{deck.deck_name}}</option>
	</select>
	<br><br>

		<label>Outcome:</label>
			<select name="outcome" ng-model="formGame.outcome">
				<option value="" disabled selected>--Choose the outcome--</option>
				<option value="won" >Won</option>
				<option value="lost">Lost</option>
				<option value="draw">Draw</option>
			</select>
	<br><br />
	<button type="submit" ng-click="createGame()"> Add Game</button>

	<h4>Last games :</h4>

	<table class="display_data" >
			<thead>
				<th>Class Played</th>
				<th>Deck Used</th>
				<th>Class Opponent</th>
				<th>Outcome</th>
			</thead>
			<tbody ng-repeat="game in games track by $index">
				<tr>
					<td>{{ game.hero_played}}</td>
					<td>{{ game.deck_used}}</td>
					<td>{{ game.hero_opponent}}</td>
					<td>{{ game.outcome}}</td>

					<td><button ng-click="deleteGame(game._id)">Delete Game</button></td>
				</tr>
			</tbody>
		</table>

</div>
