<div class="main-content"  ng-controller="statsCtrl">
	<p>Filters:</p>
	<label>By Hero:</label>
	<select ng-model="filtering.hero" >
		<option value="" selected>--Select a Hero--</option>
		<option ng-repeat="hero in heroes" value="{{hero.name}}">{{hero.name}}</option>
	</select>
	<br><br>
	<button ng-click='filter()'>Filter</button>

	<table class="display_data" ng-show="table_hero">
		<thead>
			<th>Against</th>
			<th>Games Played</th>
			<th>Games Won</th>
			<th>Games Lost</th>
			<th>Percent of wins</th>
		</thead>
		<tbody >
			<tr ng-repeat="hero in heroes">
				<td>{{ hero.name }}</td>
				<td>{{ (stats | filter: {hero_opponent: hero.name}).length }}</td>
				<td>{{ (stats | filter: {hero_opponent: hero.name, outcome: 'won'}).length }}</td>
				<td>{{ (stats | filter: {hero_opponent: hero.name, outcome: 'lost'}).length }}</td>
				<td>{{ (stats | filter: {hero_opponent: hero.name, outcome: 'won'}).length /  (stats | filter: {hero_opponent: hero.name}).length * 100  }} %</td>

			</tr>
		</tbody>
	</table>

	<table class="display_data" ng-show="table_deck">
		<thead>
			<th>Against</th>
			<th>Games Played</th>
			<th>Games Won</th>
			<th>Games Lost</th>
			<th>Percent of wins</th>
		</thead>
		<tbody >
			<tr ng-repeat="hero in heroes">
				<td>{{ hero.name }}</td>
				<td>{{ (stats | filter: {deck_used: '$scope.filtering.deck', hero_opponent: hero.name}).length }}</td>
				<td>{{ (stats | filter: {deck_used: '$scope.filtering.deck' ,hero_opponent: hero.name, outcome: 'won'}).length }}</td>
				<td>{{ (stats | filter: {deck_used: '$scope.filtering.deck' , hero_opponent: hero.name, outcome: 'lost'}).length }}</td>
				<td>{{ (stats | filter: {deck_used: '$scope.filtering.deck' ,hero_opponent: hero.name, outcome: 'won'}).length /  (stats | filter: {hero_opponent: hero.name,deck_used: '$scope.filtering.deck'}).length * 100  }} %</td>

			</tr>
		</tbody>
	</table>
	</div>
